---
# tasks file for tailscale

- name: Create tailscale directory
  ansible.builtin.file:
    path: "{{ tailscale_dir }}"
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Start tailscale container
  become: true
  community.docker.docker_container:
    name: tailscale
    image: "{{ tailscale_docker_image }}"
    state: started
    restart_policy: unless-stopped
    privileged: true
    env:
      TS_AUTHKEY: "{{ tailscale_auth_key }}"
      TS_HOSTNAME: "{{ tailscale_hostname }}"
      TS_STATE_DIR: "{{ tailscale_dir }}"
    volumes:
      - "{{ tailscale_dir }}:/var/lib/tailscale"
    network_mode: "host"
    capabilities:
      - NET_ADMIN
      - NET_RAW
      - SYS_MODULE
    devices:
      - /dev/net/tun:/dev/net/tun

- name: Setup subnet routes
  become: true
  community.docker.docker_container_exec:
    container: tailscale
    user: 0
    command: |
      tailscale set --advertise-routes={{ tailscale_advertise_routes | join(',') }}
  when: tailscale_advertise_routes | length > 0
