---
# tasks file for tailscale

- name: Create tailscale directory
  ansible.builtin.file:
    path: "{{ tailscale_dir }}"
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Start tailscale container
  become: true
  vars:
    routes_defined: "{{ tailscale_routes is defined and (tailscale_routes | length > 0) }}"
  community.docker.docker_container:
    name: tailscale
    image: "{{ tailscale_docker_image }}"
    state: started
    restart_policy: unless-stopped
    privileged: true
    env:
      TS_AUTHKEY: "{{ tailscale_auth_key }}"
      TS_HOSTNAME: "{{ tailscale_hostname }}"
      TS_STATE_DIR: "{{ tailscale_dir }}"
      TS_EXTRA_ARGS: "{{ (tailscale_extra_args | join(' ')) | default(omit) }}"
    volumes:
      - "{{ tailscale_dir }}:/var/lib/tailscale"
    network_mode: "host"
    capabilities:
      - NET_ADMIN
      - NET_RAW
      - SYS_MODULE
    devices:
      - /dev/net/tun:/dev/net/tun
